@import "tailwindcss";

html {
    width: 100vw;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 8px;
    background-color: #ffffff;

}

body::-webkit-scrollbar-thumb {
    background-color: #937a4b;
    border-radius: 7px;
}